html
    head 
        title #{newart.title}
        link(rel="stylesheet" href="/styles.css")
    body.homepagebackground
        include ../partials/header
        img.artdim(src=newart.poster, alt="")
        p this is #{newart.title}'s page
        h7 Liked by #{likecounter} users
        br
        if liked
            input(type="button", value="unlike" id="likebutton")
        else 
            input(type="button", value="like" id="likebutton")
        
        br
        |
        br
        if reviewed
            input(type="button" value = "Change Your review" id="leaveReview")
        else
            input(type="button" value = "Leave a review" id="leaveReview")
        div.hide(id="reviewContainer")
            textarea(name="", cols="30", rows="10", id = "reviewdata") 
            input(type="button", value="Submit Review" id="submitreview")
        div(id="reviews")
            p Reviews 

            each review in reviews
                if review.text && review.text != ""
                    h7 #{review.user} says:
                    br
                    h7 #{review.text}
                    br
                    |
                    br
        script(src="/review.js")