html
    head 
        title Notifications
        link(rel="stylesheet" href="/styles.css")
    body.homepagebackground
        include ../partials/header
        div.notifcenter
            p.notiftitle New Art
            
            each artNotif in userArtNotif
                if artNotif.viewed 
                    h7.newnotif 
                        span
                            a(href="/user/user/"+artNotif.artist._id) #{artNotif.artist.name}
                        span  added 
                        span 
                            a(href="/art/art/"+artNotif.art._id) #{artNotif.art.title}
                        span  to their art collection.
                else
                    h7.bold.newnotif 
                        span
                            a(href="/user/user/"+artNotif.artist._id) #{artNotif.artist.name}
                        span  added 
                        span 
                            a(href="/art/art/"+artNotif.art._id) #{artNotif.art.title}
                        span  to their art collection.
                br
            br
            |
            br
            |
            br
            p.notifTitle New Workshops
            each workshopNotif in userWorkshopNotif 
                if workshopNotif.viewed
                    h7.newnotif 
                        span
                            a(href="/user/user/"+workshopNotif.artist._id) #{workshopNotif.artist.name}
                        span  added 
                        span 
                            a(href="/workshop/workshops/"+workshopNotif.workshop._id) #{workshopNotif.workshop.title}
                        span  to their workshop collection.
                else 
                    h7.bold.newnotif 
                        span
                            a(href="/user/user/"+workshopNotif.artist._id) #{workshopNotif.artist.name}
                        span  added 
                        span 
                            a(href="/workshop/workshops/"+workshopNotif.workshop._id) #{workshopNotif.workshop.title}
                        span  to their workshop collection.
                br
            br
            |
            br
            input.clearnotif.clickcursor.highlight(type="button", value="Clear Notifications" id="delNotif")
        script(src="/viewNotifs.js")